* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #333;
    color: aliceblue;
}

.navbar-links ul{
    margin:0;
    padding: 0;
    display:flex;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color:aliceblue; 
    padding: 1rem;
    display: block; 
}

.navbar-links li:hover {
    background-color: #555;
}

#about-para {
    display: flex;
    margin-top: 50px; 
}

.intro-text {
    margin-top: 15%;
    margin-left: 30px;
    font-size: 30px;
}

.intro-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header {
    width: 100%; 
    height: 100vh;
}
#about {
    width: 100%;
    height: 100vh;
}

#contact {
    width: 100%;
    height: 100vh;
}